<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./app.component.scss">
  </head>
  <body>
    <div class="bx-main">
    <!-- <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
       <label for="bookName">Book Name : </label>
       <input type="text" id="bookName" formControlName="bookName"><br><br>

       <label for="author">Author : </label>
       <input type="text" id="author" formControlName="author"><br><br>

       <label for="publication">Publication : </label>
       <input type="text" id="publication" formControlName="publication"><br><br>

       <label for="price">Price : </label>
       <input type="number" id="price" formControlName="price"><br><br>

       <label for="genre">Genre : </label>
       <input type="text" id="genre" formControlName="genre"><br><br>

       <label for="publicationDate">Published Date : </label>
       <input type="date" id="publicationDate" formControlName="publicationDate"><br><br>

       <label for="country">Country : </label>
       <input type="text" id="country" formControlName="country"><br><br>

       <label for="description">Description : </label>
       <textarea id="description" formControlName="description"></textarea><br><br>

  

      <button type="submit" [disabled]="bookForm.invalid">Submit</button>
   </form> -->

   <div>
    <h1>Task Tracker App</h1>
    
    <router-outlet></router-outlet>

  </div>
   </div>
   </body>
   </html>